---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <ClientRouter />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>

    <script is:inline>
      const setTheme = () => {
        try {
          var stored = localStorage.getItem("theme");
          var prefersDark = window.matchMedia(
            "(prefers-color-scheme: dark)",
          ).matches;
          if (stored === "dark" || (!stored && prefersDark)) {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        } catch (_) {}
      };
      setTheme();
      document.addEventListener("astro:after-swap", setTheme);
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
